
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "LogOutForm" }))
    {

        <ul class="nav navbar-nav navbar-right">

            <li>
                @*@Html.ActionLink("Hello.. " + User.Identity.GetUserName(), "Index", "Home", new { }, new { })*@
                <a href="#/">Hello.. @User.Identity.GetUserName()</a>
            </li>
            <li>
                <a href="#/ShopCart" data-target=".navbar-collapse" data-toggle="collapse">Webbshop</a>
            </li>                        
            @if (User.IsInRole("Admin"))
            {


                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        Managements
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/Users" data-target=".navbar-collapse" data-toggle="collapse">Users</a>
                        </li>
                        <li>
                            <a href="#/Products" data-target=".navbar-collapse" data-toggle="collapse">Products</a>
                        </li>
                        <li>
                            <a href="#/Category" data-target=".navbar-collapse" data-toggle="collapse">Categories</a>
                        </li>
                        <li>
                            <a href="#/Orders" data-target=".navbar-collapse" data-toggle="collapse">Orders</a>
                        </li>
                        <li>
                            <a href="#/AdminContact" data-target=".navbar-collapse" data-toggle="collapse">AdminContact</a>
                        </li>
                    </ul>
                </li>
               
                
            }
            <li>
                <a href="javascript:window.localStorage.clear(),document.getElementById('LogOutForm').submit()">LogOff</a>
            </li>

            @if (!User.IsInRole("Admin"))
            {
                <li>
                    <a href="#/Register">Register</a>
                </li>
            }

            <li>
                <a href="#/Contact">Contact</a>
            </li>
            <li>
                <a href="#/About">About us</a>
            </li>


        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#/ShopCart">ShopCart</a>
        </li>
        <li>
            @*Html.ActionLink("LogIn", "LogIn", "Account", new { }, new { })*@
            <a href="#Login">LogIn</a>
        </li>
        <li>
            @* Html.ActionLink("Register", "Register", "Account", new { }, new { }) *@
            <a href="#/Register">Register</a>
        </li>
        <li>
            <a href="#/Contact">Contact</a>
        </li>
        <li>
            <a href="#/About">About us</a>
        </li>

    </ul>
}