
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "LogOutForm" }))
    {

        <ul class="nav navbar-nav navbar-right">

            <li>
                @Html.ActionLink("Hello.. " + User.Identity.GetUserName(), "Index", "Home", new { }, new { })
            </li>
            <li>
                <a href="#/ShopCart">Webbshop</a>
            </li>                        
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a href="#/Users">Users</a>
                </li>
                <li>
                    <a href="#/Products">Products</a>
                </li>
                <li>
                    <a href="#/Category">Categories</a>
                </li>
                <li>
                    <a href="#/Orders">Orders</a>
                </li>
            }
            <li>
                <a href="javascript:window.localStorage.clear(),document.getElementById('LogOutForm').submit()">LogOff</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#/ShopCart">ShopCart</a>
        </li>
        <li>
            @*Html.ActionLink("LogIn", "LogIn", "Account", new { }, new { })*@
            <a href="#Login">LogIn</a>
        </li>
        <li>
            @* Html.ActionLink("Register", "Register", "Account", new { }, new { }) *@
            <a href="#/Register">Register</a>
        </li>
    </ul>
}