
@*// @media only screen and (min-width:768px) {
!important
}*@
<header>
    <nav id="header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="padding-top:5px">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo"
                     style="margin:0; padding:0;">
                    <a href="/">
                        <img style="height:3em" class="img-rounded" src="~/Avatar/Logo/laddaned.png" />
                    </a>

                </div>

                @* @Html.ActionLink("WebShop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand"})*@

                
            </div>


            <div class="navbar-collapse collapse">


                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input style="color:black; background-color:#95e9df;" type="text" class="form-control input-sm" placeholder="Search" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button style="background-color:#95e9df;" class="btn btn-default" type="submit"><i style="color:black;" class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
                @Html.Partial("_LogInViewPartialView")


            </div>
           
            


    </div>
    </nav>
</header>
<div class="nav-bar-header-fex" ></div>
