

<header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="padding-top:10px">

            <div class="row">
                <section>
                    <div class="logo col-sm-3 col-md-3">
                        <a href="/"></a>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <ul>
                            <li><a href="/kundservice-kundtjanst-vanliga-fragor-7607">Kundtjänst 033-10 85 00</a></li>
                            <li>
                                <a href="" data-bind="click: accountPopupOpener">Mina sidor</a>
                            </li>
                            <li><a href="" data-bind="click: newsletterDialogOpener">Nyhetsbrev</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <form class="navbar-form pull-right" role="search">
                            <div class="form-group">
                                <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>

                            </div>
                        </form>
                    </div>
                </section>
            </div>

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WebShop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                @Html.Partial("_LogInViewPartialView")

            </div>
        </div>
    </div>
</header>
