<div class="container">

    <div class="row" ng-controller="ProductControlPanelListCtrl">

        <div class="col-md-8 col-lg-8">

            <div class="col-md-12" id="PagingDiv">
                <ul ng-if="pager.pages.length" class="pagination">
                    <li ng-class="{disabled:pager.currentPage === 1}">
                        <a ng-click="setPage(1)">First</a>
                    </li>
                    <li ng-class="{disabled:pager.currentPage === 1}">
                        <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                        <a ng-click="setPage(page)">{{page}}</a>
                    </li>
                    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                        <a ng-click="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                        <a ng-click="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul>
            </div>


            <!-- Modal

                 Edit Modal
            -->


            <div class="modal fade" role="dialog" id="editProductModal">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content ">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit Product</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-10">
                                    <form name="EditProductForm" class="form-inline" novalidate>


                                        <div class="form-group">
                                            <label class="control-label">
                                                Name: <input type="text" ng-model="selectedProduct.Name" class="form-control" required />
                                            </label>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label">
                                                Description: <input type="text" ng-model="selectedProduct.Description" class="form-control" required />
                                            </label>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label">
                                                Price : <input type="text" ng-model="selectedProduct.Price" class="form-control" required />
                                            </label>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label">
                                                Category:
                                                <select name="categorySelect" id="categorySelect" class="form-control" ng-model="selectedProduct.CategoryId">
                                                    <option ng-repeat="category in categoriesList" value="{{category.Id}}" ng-selected="category.Id==selectedProduct.CategoryId">{{category.Name}}</option>
                                                </select>
                                            </label>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label">
                                                Quantity in stock : <input type="text" ng-model="selectedProduct.StockQuantity" class="form-control" required />
                                            </label>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label">
                                                Quantity to show : <input type="text" ng-model="selectedProduct.StockQuantityToShow" class="form-control" required />
                                            </label>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-12">
                                                <img class="img-rounded" id="photoPreveiw{{selectedProduct.Id}}"
                                                     style="width:20em"
                                                     ng-src="{{selectedProduct.Photo}}" alt="your image" />
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <input type="button" value="Upload Picture" onclick="$('#upLoadEditProductPic').click()" class="btn btn-success" />
                                            @*<input ng-model="vm.p.photo" type="file" />*@
                                            <input name="newProductPhoto{{selectedProduct.Id}}" id="upLoadEditProductPic" type="file" accept="image/gif, image/jpeg, image/png" ng-hide='true'
                                                   onchange="readImgURL(this),angular.element(this).scope().fileNameChanged(this)" value="Uplaod Pic" file-model="productPhoto" />
                                            <br />
                                        </div>


                                        <div class="form-group">
                                            <input type="button" class="btn btn-success" value="Save" ng-click="saveEditProduct(selectedProduct)" />
                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>


                </div>
            </div>


            <!-- Modal

                    Details Modal
            -->
            <div class="modal fade " id="productDetailsModal"
                 @*style="width:60%;height:auto" *@
                 role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">

                            <button type="button" class="close"
                                    @*data-dismiss="modal"*@
                                    ng-click="cancelEdit(selectedProduct.Id)">
                                &times;
                            </button>
                            <h4 class="modal-title">Product Details</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row" ng-if='detailsSelected'>
                                <product-Details selected-product-details-id="selectedProductDetails"
                                                 selected-product="selectedProduct"
                                                 close="cancelEdit(product.Id)">
                                </product-Details>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                        ng-click="cancelEdit(selectedProduct.Id)">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <table id="productTable" class="table table-bordered">
                <tr id="tableHeader">
                    <th ng-click="selectOrderBy('Id')" class="btn btn-link">
                        Id
                    </th>
                    <th ng-click="selectOrderBy('Name')" class="btn-link">
                        Name
                    </th>
                    <th ng-click="selectOrderBy('Price')" class="btn-link">
                        Price
                    </th>
                </tr>
                <tr ng-repeat="product in productsListPaged | orderBy:selectedOrder">
                    <td ng-bind="product.Id"></td>
                    <td>{{product.Name}}</td>
                    <td>{{product.Price}}</td>

                    <td id="productActions">
                        <button ng-click="DeleteProduct(product.Id)" class="btn btn-sm btn-link" value="Delete">Delete</button>
                        @*<button ng-click="EditProduct(product.Id)" class="btn btn-sm btn-link" value="Edit">Edit</button>*@
                        <button ng-click="EditProduct(product.Id)" id="ShowEditModal" type="button" class="btn btn-sm btn-link" data-toggle="modal"
                                data-target="#editProductModal">
                            @*scroll-to="#tableEditProduct{{product.Id}}"*@
                            Edit
                        </button>
                        <button ng-click="getProductDetails(product.Id)" type="button" class="btn btn-sm btn-link"
                                data-toggle="modal"
                                data-target="#productDetailsModal">
                            Details
                        </button>
                    </td>


                </tr>

            </table>

        </div>


        <div class="col-md-4">
            <b class="message-Invalide">{{responseMessage}} </b>
            <form name="CreateNewProductForm" class="form" novalidate>

                <label class="control-label">
                    Product Name:
                    <input type="text" name="newProductName" ng-model="newProduct.Name" class="form-control" required />
                    <span ng-show="newProductForm.Name.$touched && newProductForm.Name.$invalid">The name is required.</span>
                </label>

                <label class="control-label">
                    Price:
                    <input type="text" ng-model="newProduct.Price" class="form-control" required />
                </label>
                <label class="control-label">
                    Category:
                    <select name="categorySelect" id="categorySelect" class="form-control" ng-model="newProduct.CategoryId">
                        <option ng-repeat="category in categoriesList" value="{{category.Id}}">{{category.Name}}</option>
                    </select>
                </label>
                <label class="control-label">
                    Quantity in stock:
                    <input type="text" ng-model="newProduct.StockQuantity" class="form-control" />
                </label>

                <label class="control-label">
                    Quantity to show:
                    <input type="text" ng-model="newProduct.StockQuantityToShow" class="form-control" />
                </label>
                <div class="form-group">
                    <label class="control-label">
                        Description:
                        <textarea rows="4" cols="50" name="Description" id="Description" class="form-control" ng-model="newProduct.Description"></textarea>
                    </label>
                </div>
                <img id="photoPreveiw" src="#" alt="your image" />
                <br />
                <input type="button" value="Upload Picture" onclick="$('#upLoadNewProductPic').click()" class="btn btn-success" />
                @*<input ng-model="vm.p.photo" type="file" />*@
                <input name="newProductPhoto" id="upLoadNewProductPic" type="file" accept="image/gif, image/jpeg, image/png" ng-hide='true'
                       onchange="readImgURL(this),angular.element(this).scope().fileNameChanged(this)" value="Uplaod Pic" file-model="productPhoto" />
                <br />
                <input type="button" class="btn btn-success" value="Save" ng-click="CreateProduct(newProduct)" />

            </form>

        </div>

    </div>
</div>