<div class="container">
    <div class="row" ng-controller="AboutControlPanelCtrl">
        <div class="col-md-10 col-lg-10">

            <h1>About us</h1>

            <p>
            <strong>History</strong> 
            <br>
            <br>
            Here we should write information and history about the company. 
            <br>
            <br>
            <br>
            </p>



   
        </div>
    </div>
</div>