<div class="container">
    <div class="row" ng-controller="AboutControlPanelCtrl">
        <div class="col-md-10 col-lg-10">

            

            <p ng-bind-html="data.text">
                
            </p>


            <a id="adContent-clickOverlay" href="https://www.googleadservices.com/pagead/aclk?sa=L&amp;ai=C0TA01u_lWKSiDdetY8Phi8gIoc-_lUjMlvHk7ALUquCi7QQQASD8hsodYPGthYbAH6ABxIud0QPIAQmoAwHIA8MEqgTLAU_QoNN5Es9u5pwbudYYa4-5i6NedSHv7VH2sG89S3j1lJ2HE1wYSBME7m58LHDlHrzjq6vD1CNF2oLvCFX5IjzH8t2S_ASWwnUl_x2kVGwCTDTGN9RYSurFIND-scZTOE-KYqu-jXPkucDLRXMuHfpJSWpI2BGNiyO895mjGtRpnIQ1KneJ4IOoLZWa8vZKwbdMdN62B5c8twJ0bCtPf7X0y5pR8vQJAGtCpia8dpflzWeLUqKVp037dgTp28coRm5sPpbBJT_07acYoAYugAek9OIuqAemvhvYBwDSCAUIgGEQAQ&amp;num=1&amp;cid=CAASEuRolej9kac-4vJy0BhH19mL7Q&amp;sig=AOD64_2F07xsq84EGT06BwDomUQMtQBquQ&amp;client=ca-pub-4270686160673198&amp;adurl=http://clickserve.dartsearch.net/link/click%3F%26%26ds_e_adid%3D97755631508%26ds_e_matchtype%3Dcontent%26ds_e_device%3Dc%26ds_e_network%3Dd%26%26ds_url_v%3D2%26ds_dest_url%3Dhttp://www.telerik.com/kendo-ui/angularjs-and-kendo-ui-framework-integration%3Futm_source%3Dgoogle%26utm_medium%3Dcpc" 
               target="_blank" style="background: rgba(0, 0, 0, 0); z-index: 1000; cursor: pointer; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;"></a>

        </div>
    </div>
</div>