<div class="container">
    <div class="row" ng-controller="AboutControlPanelCtrl">
        <div class="col-md-10 col-lg-10">

            

            <p ng-bind-html="data.text">
                
            </p>


        </div>
    </div>
</div>