
<div class="container" ng-controller="AboutUsControlPanelCtrl">


    <wysiwyg textarea-id="question" textarea-class="form-control" textarea-height="180px"
              textarea-name="textareaQuestion" 
             textarea-required
             ng-model="data.text" 
             enable-bootstrap-title="true">

    </wysiwyg>
    <input type="button" class="btn btn-primary" value="Save" ng-click="saveData()"/>

</div>