
@{
    ViewBag.Title = "Index";
}

<h2>   </h2>

<div >
    <button onclick="f()" class="btn btn-danger">Test</button>
   <div id="Div">
       <script>
           function f()
           {
               alert("Function");
               document.getElementById("Div").innerHTML="";
           }
       </script>
   </div>
    
    <ng-view >
        Loooding Page......
    </ng-view>

    <div id="map" style="width:400px; height:500px">

    </div>
    
</div>
