
@{
    ViewBag.Title = "Index";
}

<h2>   </h2>

<div>
    <script>
        //var foo;
        //try {
        //    console.log(foo.length);
        //}
        //catch (err) {
        //    console.log(err);
        //}

        //{
        //    let block = "Block";

        //}
        //console.log(block);

        var foo1 = 1;
        var foo1 = 2;
        foo();
        var foo = 2;

        function foo() {
            console.log(foo1);
        }

        function foo() {
            console.log(foo1);
        }




        var obj = {
            Bar: "Barr"
            ,

            f: function () {
                console.log(this.Bar);
            }
        };
        obj.f();
        var Bar = "Global Bar";
        var f = obj.f;
        f();


        function baz()
        {
            var baz1 = "baz1";
            var addd = "addd2";
            test();
        }
        function test()
        {
            console.log(this.addd);
        }
        var addd = "addd";
        baz();
    </script>





    <ng-view>
        Loooding Page......
    </ng-view>
    
    @*<div shope-Google-Map>
        <div></div>
    </div>*@


</div>
