body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#2f2f24 !important;
    color:gold !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-bar-header-fex{
    padding-bottom:2em;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#header {
    padding: 5px 0;
    /*width: 960px;*/
    top: 0;
    color:black !important;
    background-color:gold !important;
    opacity:0.9 !important;
    margin: auto;
    /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
}
header{
    /*ackground-color: ;*/
    min-height: 75px;
}


.navbar>a{
    color:black;
}
.nav-searchform{
    border-top:none !important;
    border-bottom:none !important;
}


/*.logo{
    background-image:url(../Avatar/Logo/laddaned.png);
    
    width:60px;
    height:60px;
    background-repeat:no-repeat;
}*/


 

/*Some CSS*/
* {margin: 0; padding: 0;}
.magnify {width: 200px; margin: 50px auto; position: relative;}

/*Lets create the magnifying glass*/
.large {
	width: 175px; height: 175px;
	position: absolute;
	border-radius: 100%;
	
	/*Multiple box shadows to achieve the glass effect*/
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	
    
	
	/*hide the glass by default*/
	display: none;
}

/*To solve overlap bug at the edges during magnification*/
.small { display: block; }