<div class="container">

    <div class="row">
        <div class="col-md-8  table-bordered" ng-controller="ShopUsersListCtrl">
            <div class="row table-bordered ">
                <div class="col-xs-6 col-sm-4 col-md-4 btn-link" ng-click="selectOrderBy('FullName')">
                    <h4>FullName</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 btn-link" ng-click="selectOrderBy('Email')">
                    <h4>Email</h4>
                </div>
            </div>
            <div class="row" ng-repeat="user in usersList | orderBy:selectedOrder">
                <div class="col-xs-6 col-sm-4  col-md-4">
                    {{user.FullName}}
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4">
                    {{user.Email}}
                </div>
                <div class="col-xs-12 col-md-4">
                    <button ng-click="DeleteUser(user.Id)" class="btn btn-sm btn-link" value="Delete">Delete</button>
                    <button ng-click="EditUser(user.Id)" class="btn btn-sm btn-link" value="Delete">Edit</button>
                    <button ng-click="getUserDetails(user.Id)" class="btn btn-sm btn-link">Details</button>
                </div>
                <br />
                <div class="col-md-12" ng-if='(user.Id==selectedUserEditId)&&editSelected '>

                    <button type="button" ng-click="cancelEdit(user.Id)" class="close">&times;</button>
                    <h3>Edit User</h3>
                    <form name="EditUserForm" class="form-inline" novalidate>


                        <label class="control-label">
                            FirstName: <input type="text" ng-model="selectedUser.FirstName" class="form-control" required />
                        </label>
                        <label class="control-label">
                            Last Name : <input type="text" ng-model="selectedUser.LastName" class="form-control" required />
                        </label>
                        <label class="control-label">
                            Email : <input type="text" ng-model="selectedUser.Email" class="form-control" required />
                        </label>


                        <label id="StreetAddress" class="control-label">
                            StreetAddress:
                            <input type="text" name="StreetAddress" ng-model="selectedUser.StreetAddress" class="form-control" required />
                            <span style="color:red" ng-show="EditUserForm.StreetAddress.$dirty && newUserForm.StreetAddress.$invalid">
                                <span class="message-Invalide" ng-show="EditUserForm.StreetAddress.$error.required">StreetAddress is required.</span>
                                <span class="message-Invalide" ng-show="EditUserForm.StreetAddress.$error.email">Please insert a valid StreetAddress.</span>
                            </span>
                        </label>

                        <label id="PostNumber" class="control-label">
                            Post Number:
                            <input type="text" name="PostNumber" ng-model="selectedUser.PostNumber" class="form-control" required />
                            <span style="color:red" ng-show="EditUserForm.PostNumber.$dirty && newUserForm.PostNumber.$invalid">
                                <span class="message-Invalide" ng-show="EditUserForm.PostNumber.$error.required">Post Number is required.</span>
                                @* <span class="message-Invalide" ng-show="newUserForm.PostNumber.$error.email">Please insert a valid Country Name.</span>*@
                            </span>
                        </label>

                        <label id="CityName" class="control-label">
                            City Name:
                            <input type="text" name="CityName" ng-model="selectedUser.City" class="form-control" required />
                            <span style="color:red" ng-show="EditUserForm.CityName.$dirty && newUserForm.CityName.$invalid">
                                <span class="message-Invalide" ng-show="EditUserForm.CityName.$error.required">City Name is required.</span>
                                <span class="message-Invalide" ng-show="EditUserForm.CityName.$error.email">Please insert a valid City Name.</span>
                            </span>
                        </label>

                        <label id="CountryName" class="control-label">
                            Country Name:
                            <input type="text" name="CountryName" ng-model="selectedUser.Country" class="form-control" required />
                            <span style="color:red" ng-show="EditUserForm.CountryName.$dirty && newUserForm.CountryName.$invalid">
                                <span class="message-Invalide" ng-show="EditUserForm.CountryName.$error.required">Country Name is required.</span>
                                <span class="message-Invalide" ng-show="EditUserForm.CountryName.$error.email">Please insert a valid Country Name.</span>
                            </span>
                        </label>

                        <label id="Email" class="control-label">
                            Email:
                            <input type="email" name="email" ng-model="selectedUser.Email" class="form-control" required />
                            <span style="color:red" ng-show="EditUserForm.email.$dirty && newUserForm.email.$invalid">
                                <span class="message-Invalide" ng-show="EditUserForm.email.$error.required">Email is required.</span>
                                <span class="message-Invalide" ng-show="EditUserForm.email.$error.email">Please insert a valid Email.</span>
                            </span>
                        </label>

                        <label id="PhoneNumber" class="control-label">
                            PhoneNumber:
                            <input type="text" name="PhoneNumber" ng-model="selectedUser.PhoneNumber" class="form-control" />
                            <span style="color:red" ng-show="EditUserForm.PhoneNumber.$dirty && newUserForm.PhoneNumber.$invalid">

                                <span class="message-Invalide" ng-show="EditUserForm.PhoneNumber.$error.email">Please insert a valid PhoneNumber.</span>
                            </span>
                        </label>
                        <input type="button" class="btn btn-success" value="Save" ng-click="saveEditUser(selectedUser)"
                               ng-disabled="newUserForm.$invalid" />
                    </form>


                </div>
                <div class="col-md-12" ng-if='(user.Id===selectedUserDetails)&&detailsSelected'>
                    <div class="row">
                        
                        <button type="button" ng-click="cancelEdit(user.Id)" class="close">&times;</button>
                        <h3> User Details</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table-bordered table-responsive">
                                <tbody>
                                    <tr>
                                        <th>
                                            FirstName
                                        </th>
                                        <td>
                                            {{selectedUser.FirstName}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Last Name
                                        </th>
                                        <td>
                                            {{selectedUser.LastName}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Email
                                        </th>
                                        <td>
                                            {{selectedUser.Email}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            PhoneNumber
                                        </th>
                                        <td>
                                            {{selectedUser.PhoneNumber}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            City
                                        </th>
                                        <td>
                                            {{selectedUser.City}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>
                                            StreetAddress
                                        </th>
                                        <td>
                                            {{selectedUser.StreetAddress}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            PostNumber
                                        </th>
                                        <td>
                                            {{selectedUser.PostNumber}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Country
                                        </th>
                                        <td>
                                            {{selectedUser.Country}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        @*<div class="col-md-4">
                                <label>First Name : {{selectedUser.FirstName}}</label>
                            </div>
                            <div class="col-md-4">
                                <label>Last Name: {{selectedUser.LastName}}</label>
                            </div>
                            <div class="col-md-4">
                                <label>Email: {{selectedUser.Email}}</label>
                            </div>*@
                        <div class="col-sm-6">
                            <h3>Number Of orders : {{selectedUser.orders.length}}</h3>
                            <ul>
                                <li ng-repeat="order in selectedUser.orders">

                                    <label>Order Number: {{order.Id}} </label>
                                    <label>Order Date: <b>{{order.OrderDate  | date : 'dd-MMMM-yyyy' }}</b></label>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-4">
            @Html.Partial("_CreateShopUserPartialView")

        </div>
    </div>
</div>
