<div class="container">

    <div class="row">
        <div class="col-md-8  table-bordered" ng-controller="ShopUsersListCtrl">
            <div class="row table-bordered ">
                <div class="col-xs-6 col-sm-4 col-md-4 btn-link" ng-click="selectOrderBy('FullName')">
                    <h4>FullName</h4>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 btn-link" ng-click="selectOrderBy('Email')">
                    <h4>Email</h4>
                </div>
            </div>
            <div class="row" ng-repeat="user in usersList | orderBy:selectedOrder">
                <div class="col-xs-6 col-sm-4  col-md-4">
                    {{user.FullName}}
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4">
                    {{user.Email}}
                </div>
                <div class="col-xs-12 col-md-4">
                    <button ng-click="DeleteUser(user.Id)" class="btn btn-sm btn-link" value="Delete">Delete</button>
                    <button ng-click="EditUser(user.Id)" class="btn btn-sm btn-link" value="Delete">Edit</button>
                    <button ng-click="getUserDetails(user.Id)" class="btn btn-sm btn-link">Details</button>
                </div>
                <br />
                <div class="col-md-12" ng-if='(user.Id==selectedUserEditId)&&editSelected '>

                    <button type="button" ng-click="cancelEdit(user.Id)" class="close">&times;</button>
                    <form name="EditUserForm" class="form-inline" novalidate>


                        <label class="control-label">
                            FirstName: <input type="text" ng-model="selectedUser.FirstName" class="form-control" required />
                        </label>
                        <label class="control-label">
                            Last Name : <input type="text" ng-model="selectedUser.LastName" class="form-control" required />
                        </label>
                        <label class="control-label">
                            Email : <input type="text" ng-model="selectedUser.Email" class="form-control" required />
                        </label>
                        <input type="button" class="btn btn-success" value="Save" ng-click="saveEditUser(selectedUser)" />
                    </form>


                </div>
                <div class="col-md-12" ng-if='(user.Id===selectedUserDetails)&&detailsSelected'>
                    <div class="row">
                        <button type="button" ng-click="cancelEdit(user.Id)" class="close">&times;</button>
                    </div>
                    <div class="row container">
                        
                        <div class="col-md-4">

                            <label>First Name : {{selectedUser.FirstName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label>Last Name: {{selectedUser.LastName}}</label>
                        </div>
                        <div class="col-md-4">
                            <label>Email: {{selectedUser.Email}}</label>
                        </div>
                        <div class="col-md-12">
                            <h5>Number Of orders : {{selectedUser.orders.length}}</h5>
                            <ul>
                                <li ng-repeat="order in selectedUser.orders">
                                    <label> {{order.OrderDate  | date : 'dd-MMMM-yyyy' }}</label>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
        <div class="col-md-4">
            @Html.Partial("_CreateShopUserPartialView")

        </div>
    </div>
</div>
