<div class="container">
    <div class="row" ng-controller="ContactControlPanelCtrl">
        <div class="col-md-10 col-lg-10">

            <h1>Contact us</h1>

            <p>
            <strong>Visit address:</strong> 
            <br>
            <br>
            Fagrabäcksvägen 18 
            <br>
            352 40 VÄXJÖ
            <br>
            <br>
            </p>

            <p>
            <strong>Our shop in Växjö is open:</strong>
            </p>

            <p>
            <strong>Mon - Fri:</strong> 
            10.00 - 18.00
            <br>
            <strong>Saturday:</strong>
            10.00 - 15.00
            <br>
            <strong>Sunday      :</strong> 
            11:00 - 15:00
            </p>

            <p>
                <strong>
                Our customerservice e-shopping is open:
                </strong>
            </p>

            <p>
                <strong>
                Mon - Fri:
                </strong>
                10.00 - 17.00
            </p>



            <p>
            <br>
                Please send us a mail if you have any questions
            </p>

            <p>
            <strong>
                Telephone:</strong> 
            <a href="tel:070-4410621">
                070-4410621
                <br>
                </a>

                <strong>
                    Vxl:
                </strong>
                <a href="tel:0470-571072">
                    0470-571072
                    <br>
                </a>

                <strong>
                    Fax:
                </strong>
                <a href="tel:0735-275485">
                    0735-275485
                    <br>
                </a>

                <strong>
                    Mobil:
                </strong>
                <a href="tel:0735-405710">
                    0735-405710
                    <br>
                </a>



                 <strong>
                Mail:
                </strong>
            <a href="mailto:christopher.stinnerbom@hotmail.com">christopher.stinnerbom@hotmail.com</a>
            <br>
            <br>
            </p>


   
        </div>
    </div>
</div>