
<div class="row" ng-controller="ContactControlPanelCtrl">
    <div class="col-md-10 col-lg-10">
        <h1>Contact us</h1>

        <p>
            {{contactInformations.Address}}
        </p>

        <p>
            <strong>Our shop in Växjö is open:</strong>
        </p>

        <p>
            <strong>Mon - Fri:</strong>
            {{contactInformations.OpningWorkDays}}
            <br>
            <strong>Saturday:</strong>
            {{contactInformations.OpningSaturday}}
            <br>
            <strong>Sunday:</strong>
            {{contactInformations.OpningSunday}}
        </p>

        <p>
            <strong>
                Our customerservice e-shopping is open:
            </strong>
        </p>
        <p>
            <strong>
                Mon - Sun:
            </strong>
            {{contactInformations.OpningCustomerService}}
        </p>



        <p>
            <br>
            Please send us a mail if you have any questions
        </p>

        <p>
            <strong>
                Telephone:
            </strong>
            <a href="tel:{{contactInformations.Telephone}}">
                {{contactInformations.Telephone}}
                <br>
            </a>

            <strong>
                Vxl:
            </strong>
            <a href="tel:{{contactInformations.Vxl}}">
                {{contactInformations.Vxl}}
                <br>
            </a>

            <strong>
                Fax:
            </strong>
            <a href="tel:{{contactInformations.Fax}}">
                {{contactInformations.Fax}}
                <br>
            </a>

            <strong>
                Mobil:
            </strong>
            <a href="tel:{{contactInformations.Mobil}}">
                {{contactInformations.Mobil}}
                <br>
            </a>



            <strong>
                EMail:
            </strong>
            <a href="{{contactInformations.EMail}}">{{contactInformations.EMail}}</a>
            <br>
            <br>
        </p>



    </div>
    <style>
        #map {
            height: 420px;
            width: 600px;
        }
    </style>
    <div >
        <div shope-Google-Map></div>
    </div>
</div>
