<div class="row">
    <div id="ProductDetailsPhoto" class="col-sm-6">
        <a href="" style="align-content:center">
            <img ng-src="{{selectedProduct.Photo}}" class="img-rounded"
                 alt="Fjords" style="width:100em; align-content:center" />
        </a>
    </div>
    <div class="col-sm-6">

        <h5>{{selectedProduct.Name}}</h5>
        <div class="Mytooltip">
            Description
            <span class="Mytooltiptext" ng-model="selectedProduct.Description">
                {{selectedProduct.Description}}
            </span>
        </div>
        <p>  </p>
        <p>Category: {{selectedProduct.Category}}</p>
        <span>Price: {{selectedProduct.Price |  currency:"SEK":(2) }} </span>
        <p>Quantity in stock: {{selectedProduct.StockQuantity}}</p>
        <p>Quantity to show: {{selectedProduct.StockQuantityToShow}}</p>
    </div>

</div>


