<div class="container">

    <div class="row" ng-controller="CategoryControlPanelListCtrl">
        <div class="col-md-8 col-lg-8">

            <!-- Modal

            Edit Modal
               -->


            <div class="modal fade" role="dialog" id="editCategoryModal">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content ">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Redigera kategori</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form name="EditCategoryForm" class="form-inline" novalidate>
                                        <label class="control-label">
                                            Namn: <input type="text" ng-model="selectedCategory.Name" class="form-control" required />
                                        </label>
                                        <input type="button" class="btn btn-success" value="Spara" ng-click="saveEditCategory(selectedCategory)" />
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Stänga</button>
                        </div>
                    </div>


                </div>
            </div>


            <!-- Modal

            Details Modal
               -->


            <div class="modal fade" role="dialog" id="detailsCategoryModal">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content ">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Kategori detaljer</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>kategori namn : {{selectedCategory.Name}}</label>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Stänga</button>
                        </div>
                    </div>


                </div>
            </div>

            <table class="table table-bordered">
                <tr>
                    <th ng-click="selectOrderBy('Name')" class="btn-link">
                        Namn
                    </th>
                </tr>
                <tr ng-repeat="category in categoriesList | orderBy:selectedOrder">
                    <td>{{category.Name}}</td>

                    <td style="display:none" ng-bind="category.Id"></td>
                    <td>
                        <button ng-click="DeleteCategory(category.Id)" class="btn btn-sm btn-link" value="Delete">Delete</button>
                        <button ng-click="EditCategory(category.Id)" class="btn btn-sm btn-link"
                                data-toggle="modal"
                                data-target="#editCategoryModal"
                                value="Edit">
                            Redigera
                        </button>
                        <button ng-click="getCategoryDetails(category.Id)" 
                                class="btn btn-sm btn-link"
                                data-toggle="modal"
                                data-target="#detailsCategoryModal"
                                >Detaljer
                        </button>
                    </td>
                    
                </tr>
            </table>
        </div>


        <div class="col-md-4">

            <form name="newCategoryForm" class="form" novalidate>
                <label class="control-label">
                    Kategori Namn:
                    <input type="text" name="newProductName" ng-model="newCategory.Name" class="form-control" required />
                    <span ng-show="newCategoryForm.Name.$touched && newCategoryForm.Name.$invalid">Namnet krävs.</span>
                </label>


                <input type="button" class="btn btn-success" value="Spara" ng-click="CreateCategory(newCategory)" />

            </form>

        </div>

    </div>
</div>