

<div ng-controller="ShopCartCtrl">

    <div class="container">
        <div class="row">
            <a href="#/ViewShopCart" class="btn btn-default" ng-click="">
                <span class="glyphicon glyphicon-shopping-cart">{{cartLength}}</span>  Go To Cart
            </a>
            <input type="text" ng-model="productFilter" class="input-sm" />
            <select class="input-sm" name="categorySelect" id="categorySelect" ng-model="categoryFilter">
                <option value=''>Show All</option>
                <option ng-repeat="category in categoriesList" value="{{category.Id}}">{{category.Name}}</option>
            </select>

        </div>
        <br />
        <div class="row">
            <div ng-repeat="product in productsList | filter :{Name:productFilter} |filter :{CategoryId:categoryFilter} | orderBy:selectedOrder"
                 class="col-lg-4 col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="thumbnail ui-widget-shadow" style="color:black !important;
                                       border:none !important;             background-color:#ffffff; box-shadow: 2px 2px 9px black; height:24em">
                    <a href="#/ProductCustomerAllDetails/{{product.Id}}">
                        <div style="height:200px;">
                            <img ng-src="{{product.Photo}}" class="product-list-image img-rounded" />
                        </div>
                    </a>
                    <br />
                    <p style="">
                        <h5>{{product.Name}}</h5>
                        <strong class="Mytooltip">
                            Description
                            <span class="Mytooltiptext" ng-model="product.Description">
                                {{product.Description}}
                            </span>
                        </strong>
                        <br />
                        <span>Price:{{product.Price}}</span>
                    </p>
                    <button ng-click="addToCart(product)"
                            class="btn btn-xs btn-primary" value="Add"
                            >
                        Add To Cart
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>