
<h2> Wellcome To our Store</h2>
<div ng-controller="ShopCartCtrl">

    <div class="container">
        <div class="row">
            <a href="#/ViewShopCart" class="btn btn-default" ng-click="">
                <span class="glyphicon glyphicon-shopping-cart">{{cartLength}}</span>  Go To Cart
            </a>
        </div>
        <div class="row">
            <div ng-repeat="product in productsList | orderBy:selectedOrder"
                 class="col-lg-4 col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail">
                    <div id="ProductPhoto">
                        <a href="#/ProductCustomerAllDetails/{{product.Id}}">
                            <img ng-src="{{product.Photo}}" class="img-rounded"
                                 alt="Fjords" style="height:15em" />
                        </a>
                    </div>
                    <div>
                        <h5>{{product.Name}}</h5>
                        <div class="Mytooltip">
                            Description
                            <span class="Mytooltiptext" ng-model="product.Description">
                                {{product.Description}}
                            </span>
                        </div>
                    </div>
                    <div>
                        <span>Price:{{product.Price}}</span>
                    </div>

                    <div style="display:none" ng-bind="product.Id"></div>

                    <button ng-click="addToCart(product)" class="btn btn-xs btn-primary" value="Add">Add To Cart</button>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
        </div>
    </div>
</div>