

<div id="cartInfo" class="container" ng-controller="ViewShopCartCtrl as vm">


    <!-- Modal

    Receipt Modal
       -->
    <div class="modal fade" role="dialog" id="receiptModal">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Details Order</h4>
                    Your Receipt
                </div>
                <div id="printableTable" class="modal-body">
                    <table >
                       
                            <tr>
                                <td>Product</td>
                                <td>Quantity</td>
                                <td>Price</td>
                                <td>Total Price For This</td>
                            </tr>
                        
                       
                            <tr class="" ng-repeat="product in cart">
                                <td>
                                    {{product.Name}}
                                </td>
                               
                                 <td>
                                    {{product.Price | currency : 'SEK' : 2}}
                                </td>
                                <td>
                                    {{product.Quantity}}
                                </td>
                                <td>
                                    {{product.Price*product.Quantity | currency : 'SEK' : 2}} 
                                </td>
                            </tr>
                            <tr>
                                <td>Total Price : {{totalPrice | currency : 'SEK' : 2 }}</td>
                            </tr>
                        
                        
                    </table>
                       </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-info" ng-click="printToCart('printableTable')"><i class="fa fa-print"></i>print</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>


        </div>
    </div>


    <div class="row">
        <span class="glyphicon glyphicon-shopping-cart">{{cartLength}}</span>
        <a class="btn btn-success" href="#/OrderConfirm">Confirm</a>
        <button class="btn btn-info"
            data-toggle="modal"
            data-target="#receiptModal">
            <i class="fa fa-table"></i>Shwo Receipt</button>
    </div>

    <div class="row">
        <h4>Total Price : {{totalPrice}}</h4>
    </div>
    <div class="row text-center">

        <div ng-repeat="product in cart | orderBy:selectedOrder"
             class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <div class="" id="ProductPhoto">
                    <a href="#/ProductCustomerAllDetails/{{product.Id}}">
                        <img ng-src="{{product.Photo}}" class="img-rounded"
                             alt="Fjords"
                             @*style="width:40%"*@
                             style="height:15em" />
                    </a>
                </div>
                <div class="caption">
                    <div>
                        Quantity
                        <input style="max-width:70px" type="number"
                               min="0"
                               oninput="this.value = this.value.match(/\d*[0-9]/gmi);"
                               step="1"
                               max="1000"
                               class="small input-sm"
                               ng-model="product.Quantity" />

                    </div>
                    <div>
                        <h5>{{product.Name}}</h5>
                        <div class="Mytooltip">
                            Description
                            <span class="Mytooltiptext" ng-model="product.Description">
                                {{product.Description}}
                            </span>
                        </div>
                    </div>
                    <div>
                        <span>Price: {{product.Price}}</span>
                    </div>
                    <button ng-click="deleteProductFromCart(product.Id)" class="btn btn-sm btn-danger" value="Delete">Delete From Cart</button>
                </div>
            </div>
        </div>

    </div>

</div>
